
html {
  font-size: $font-size;
  font-family: $font-family;
  background: #efebe9;
  color: $font-color;
  line-height: 1.4;
 }

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

body {
  margin: 0 auto;
  width: 100%;
}

html, body, p, div, button, li, ul, h1, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.2);
}


